.about{
    padding-bottom: 2rem;
    height: 100vh;
    background: linear-gradient(to right, rgba($primary_color,0.9),  rgba($primary_color,0.2)),url("../img/bg-1.jpeg");
    background-size:cover;
    background-position: 30% 40%;

    &__bio-image{
        height: 50vh;
        width: 100%;
       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    p{
        margin-bottom: 2rem;
    }
    h2,h3{
        color:$seconday-color;
    }
    &__bio{
        width: 80%;
        text-align: center;
    }



    .jobs{
        width: 60vw;
        margin:2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap:2rem;
        &__job{
             background: lighten($primary_color, 10%);
             border-bottom: 5px solid $seconday-color;
    
             h2,h3{
                margin: 0.5, 0;
    
             }
             h6{
              margin:0.3rem,0;
             }
        }
    
    
    }





.social-icons{
    display: flex;
    flex-direction: column;
}

footer{
    transform: rotate(90deg) translate(-3rem,-5rem);
}




}

